@model List<Team>
@foreach (var team in Model)
{
    <div class="meet">
        <div id="first">
            <img src="~/assets/images/@team.Image" alt="">
            <h3>@team.Fullname</h3>
            <h6>@team.Position</h6>
        </div>
    </div>
}